<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.board.mapper.BoardMapper">

	<insert id="registerBoard" parameterType="org.board.domain.BoardVO">
		insert into board (boardidx, title, writer, contents) 
			values (board_idx_seq.nextval, #{title}, #{writer}, #{contents})
	</insert>
	
	<select id="boardList" resultType="org.board.domain.BoardVO">
		select * from board order by boardidx desc
	</select>

</mapper>